/* global.css styles */

/* @group resets and elements */
* { margin: 0; padding: 0; }

html{height: 100%; font-family: “Helvetica Neue”, Arial, Helvetica, sans-serif; background: #fff;}
body{font-size: 62.5%; font-family: Helvetica, Arial, sans-serif; line-height: 10%;}
img{border: 0;}
a{color: #3c86b7; text-decoration: none;}
a:hover { text-decoration: underline; }

ul{line-height: 120%; }
p{
    font-size: 1.2em; 
    line-height: 1.4em; 
    font-family: Arial, sans-serif; 
    color: #333;
    margin-bottom: 15px; 
}
h1{ 
    font-family: Helvetica, Arial, Verdana, sans-serif; 
    color: #444; 
    font-weight: bold;
    font-size: 1.7em; 
    line-height: 2.0em;
}
h2{ 
    font-family: Georgia, Tahoma, sans-serif;
    font-style: italic; 
    font-size: 1.4em;
    letter-spacing: -0.04em; 
    line-height: 1.8em; 
}
h3{ 
    color: #698216; 
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.6em; 
}
h4{ 
    color: #232323; 
    font-family: Arial, Tahoma, sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 10px;
}
/* @group core */
.wrapper { 
    width: 850px;
    overflow: hidden;
    margin: 0 auto; 
    background: none; 
}
header { 
    height: 100px;
    background-color: #589FC6;
}
header #usernav { 
    float: right; 
    line-height: 100px; 
    font-size: 14px; 
    font-weight: bold;
    color: #555;
}
header #usernav a { 
    color: #444; 
    text-shadow: 0px 1px 1px #ddd;
}
header #usernav a span img {
    position: relative;
    top: 8px; 
    background: #cecece; 
    margin-left: 5px; 
    padding: 3px;
    border: 1px solid #969696;
}

/* @ INDEX PAGE */
#contentHomepage{
    margin: 0 auto;
    width: 900px;
}
.blueberry {max-width: 960px; }
.home{
    width: 900px;
    height: 150px;
    text-align: center;
    margin: 0 auto; 
    float: left;
}       
#A,#B,#C,#D,#E,#F{
    width: 225px;
    height: 150px;
    float: left;
}
#B,#E{margin-left: 110px;}
#C,#F{float:right;}

#content{ 
    margin: 0 auto;
    
}

#space{height: 50px;}
#left{ 
    display: block; 
    width: 562px; 
    float: left; 
    overflow: hidden;
    margin-right: 30px;}
#right{ 
    display: block;
    width: 562px; 
    float:left; 
    overflow:hidden;
}   

input[type="text"], input[type="email"], input[type="number"]{width: 380px;}
input[type="submit"]{ width:100px; height: 30px;}
select.chooseCatagory{width: 385px;}

/* @group navigation */
nav { width: auto; background: #eee; height: 45px; border-bottom: 1px solid #dadada; margin-bottom: 30px; }

ul#n { width: auto; margin-left: 30%; display: block; list-style: none; float: left;}
ul#n li { float: left; line-height: 45px; border: 3px solid #eee; border-top: 0px; border-bottom: 0px; }
ul#n li a { display: block; padding: 0 11px; color: #969696; font-size: 15px; font-weight: bold; text-shadow: 0px 1px 1px #fff; }

ul#n li.sel { background: #b4e127; border: 3px solid #c1ff00; border-top: 0px; border-bottom: 0px; }
ul#n li.sel a { color: #fff; text-shadow: 0px 1px 2px #88b618; }

/* Profiel opmaak */

    .content{
    display: table;
    margin: 0 auto;   
    }

#userStats { display: block; width: auto; background-color: #f9f9f9; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 12px;}

#userStats .pic { float: left; display: block; margin-right: 10px; }
#userStats .pic a img { padding: 7px; background: #fff; border: 1px solid #ccc; }

#userStats .data { float: left; display: block; position:  relative; width: 350px; height: 166px; padding: 4px; padding-left: 15px; background: #e6e6e6; overflow:  hidden; box-sizing: border-box; -moz-box-sizing: border-box; }
#userStats .data h1 { color: #474747; line-height: 1.6em; text-shadow: 0px 1px 1px #fff; }
#userStats .data h3 { color: #666; line-height: 0.9em; margin-bottom: 5px; }
#userStats .data h4 { font-size: 1.2em; line-height: 1.3em; }

#userStats .data .sep { clear: both; margin-top: 40px; width: 320px; height: 1px; border-bottom: 1px solid #ccc; margin-bottom: 0; }
#userStats .data ul.numbers { list-style: none; width: 320px; padding-top: 7px; margin-top: 0; border-top: 1px solid #fff; color: #676767; }
#userStats .data ul.numbers li { width: 95px; float: left; display: block; padding-left: 8px; height: 50px; border-right: 1px dotted #bbb; text-transform: uppercase; }
#userStats .data ul.numbers li strong { color: #434343; display: block; font-size: 3.4em; line-height: 1.1em; font-weight: bold; }

/* Profiel aanpassen opmaak*/
#changeProfile .gcontentProfile { display: block;float: left; width: 562px; }
#changeProfile .gcontentProfile .headProfile { background: #589fc6; border: 1px solid #3e82a7; padding-left: 8px; }
#changeProfile .gcontentProfile .headProfile h1 { color: #fafcfd; font-weight: bold; font-size: 1.4em; }
#changeProfile .gcontentProfile .boxyProfile { border-radius: 0px 0px 5px 5px; border: 1px solid #ccc; border-top: 0px; float: left;  width: 560px;}
/* EINDE PROFIEL AANPASSEN */

#companyStats{ display: block; width: auto; background-color: #f9f9f9; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 12px;}

#companyStats .pic { float: left; display: block; margin-right: 10px; }
#companyStats .pic a img { padding: 7px; background: #fff; border: 1px solid #ccc; }

#companyStats .data { float: left; display: block; position:  relative; width: 350px; height: 166px; padding: 4px; padding-left: 15px; background: #e6e6e6; overflow:  hidden; box-sizing: border-box; -moz-box-sizing: border-box; }
#companyStats .data h1 { color: #474747; line-height: 1.6em; text-shadow: 0px 1px 1px #fff; }
#companyStats .data h3 { color: #666; line-height: 0.9em; margin-bottom: 5px; }
#companyStats .data h4 { font-size: 1.2em; line-height: 1.3em; }

#companyStats .data .sep { clear: both; margin-top: 40px; width: 320px; height: 1px; border-bottom: 1px solid #ccc; margin-bottom: 0; }
#companyStats .data ul.numbers { list-style: none; width: 320px; padding-top: 7px; margin-top: 0; border-top: 1px solid #fff; color: #676767; }
#companyStats .data ul.numbers li { width: 95px; float: left; display: block; padding-left: 8px; height: 50px; border-right: 1px dotted #bbb; text-transform: uppercase; }
#companyStats .data ul.numbers li strong { color: #434343; display: block; font-size: 3.4em; line-height: 1.1em; font-weight: bold; }


/* Bedrijfsgegevens aanpassen */
#changeCompany .gcontentCompany{ display: block; margin-bottom: 20px;}
#changeCompany .gcontentCompany .headCompany{ background: #589fc6; border: 1px solid #3e82a7; padding-left: 8px; }
#changeCompany .gcontentCompany .headCompany h1{ color: #fafcfd; font-weight: bold; font-size: 1.4em; }
#changeCompany .gcontentCompany .boxyCompany{ border-radius: 0px 0px 5px 5px; border: 1px solid #ccc; border-top: 0px; background: #f9f9f9; width: 550px;  }
/* EINDE BEDRIJFSGEGEVENS AANPASSEN */

/** @group clearfix **/
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.nobrdr { border: 0px !important; }

/*******************************/
/*
#LOGIN PART 
/*
/*******************************/
.login_form {
    float: right;
    width: auto;
    margin-left: 2%;
    padding: 0.3%;
}
.login_form input {
    float: left;
    width: 40%;
    height: 17px;
    padding: 1%;
    margin-left: 1%;
    margin-right: 0.3%;
    border: 1px solid #589FC6;
}
.login_form a {
    position: relative;
    top: 6px;
    right: 25px;
    float: right;
}
.login_form button {
    float: right;
    width: auto;
    height: auto;
    margin-top: 2.5px;    
    background: none;
    border: none;
    cursor: pointer;
}
#logout {
    float: right;
    width: auto;
    height: auto;
    
    background: none;
    border: none;
    cursor: pointer;
}
.accountLogged{
    float:right;
    margin-top: 0.9%;
    margin-right: 1%;
}
.logoutButton{
    margin-top: -7.5px;  
}
/*******************************/
/*
#END LOGIN PART 
/*
/*******************************/

/*******************************/
/*
#INFORMATIE CSS 
/*
/*******************************/
#informationBox{ 
    margin: 0 auto;
}
#informationImage{
    height:953px;
    height:425px; 
    background-image: url('img/informatie_img.png'); background-repeat: no-repeat;
    border-radius: 2px; 
    margin-left: 300px;
}
#informationBox .gcontentInfo {
    display: block; 
    margin-bottom: 20px; 
    max-width: 60%; 
    margin: 0 auto;
}
#informationBox .gcontentInfo .informationHead {
    background: #589fc6; 
    border: 1px solid #3e82a7; 
    padding-left: 8px;
}
#informationBox .gcontentInfo .informationHead h1 {
    color: #fafcfd; 
    font-weight: bold; 
    font-size: 17px; 
}
#informationBox .gcontentInfo .boxy { 
    border-radius: 0px 0px 5px 5px; 
    border: 1px solid #ccc;
    border-top: 0px; 
    padding: 10px 8px;
}
#informationBox .gcontentInfo .profile { 
    font-size: 15px;
}
p.informationText{
    font-size: 15.5px;
}
// END INFORMATTON

/*******************************/
/*
#DIENST CSS
/*
/*******************************/
#search{float: right;}
input.search[type="text"]{
    width: 120px;
    height: 20px;
    font-size: 15px;
    padding: 5px; 
    color: #589FC6;
    margin-bottom: 20px;
}
#fit{
    float: left;
    width: 100%;
    height: 100%;
}
#dienst_box{
    max-width: 45%;
    text-align: center;
    margin: 0 auto;
}
#dienst_box .gcontent{ 
    display: block; 
    width: 800px;
}
#dienst_box .gcontent .dienst_head{ 
    background: #589fc6;
    border: 1px solid #3e82a7; 
    padding-left: 8px; 
    width: 792px;
}
#dienst_box .gcontent .dienst_head h1{ 
    color: #fafcfd; 
    font-weight: bold;
    font-size: 17px; 
    width: 800px;
}
#dienst_box .gcontent .boxy{ 
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #ccc; 
    border-top: 0px;
    background: #f9f9f9;
    width: 780px; 
    text-align: center;
}
#dienst_box .gcontent .profile{ 
    font-size: 15px;
}
#dienst_box .gcontent .boxy{
    float: left; 
    padding-left: 20px; 
}
.tableElementCenterdOut{text-align: center;background-color: #3598DC;}
td .moreInfo{width: auto; background: none;color: white;border: none; cursor: pointer;}
td .moreInfo:hover {text-decoration: underline;}
.categorie{font-size: 15px;font-family: verdana;}
table{float: left; margin: 15px; width: 350px;}
td{height: 35px;background-color: #ffffff; color: black;padding-left: 10px;}
td.catrow{background-color: #3598DC;color: #FFFFFF;}

@media screen and (max-width: 600px) {
    nav { 
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }

    nav li sel{
        width: 50%;
    }
}



